@model SistemaBiblioteca.Models.Emprestimo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Livro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Livro.TituloLivro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFimEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFimEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusEmprestimo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmprestimoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
